.App {
  text-align: center;
}

.App-Body {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.root {
  width: 45%;
  height: 600px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

.container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card {
  max-width: 200px;
  min-width: 160px;
  width: 200px;
  height: 250px;
  background-color: #282c34 !important;
  box-shadow: 0 0 20px 0px #131313 !important;
  margin: 17px;
}

.loading {
  background: url(./icons/Infinity-1s-200px.gif) 7px 22px no-repeat;
  height: 100%;
  background-size: 183px 200px;
  width: 100%;
}
